table {
  width: 100%;
}
.my_name {
  font-style: italic;
  text-decoration: underline solid salmon;
}
.my_photo {
  border: 2px solid salmon;
  padding: 10px;
}

h2 {
  text-decoration: underline solid salmon;
}
.work_exp {
  border-bottom: 1px solid salmon;
}

.skills {
  display: flex;
  flex-direction: column;
}
.skill_pozision {
  text-align: right;
  border-bottom: 1px solid salmon;
}
.flex-cont {
  display: flex;
  justify-content: space-between;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font: weight 100px;
}

.position {
  background-color: rgb(42, 65, 197);
  padding-right: 24px;
  border-color: #00f;
}

.year {
  background-color: rgb(42, 65, 197);
  font-weight: bold;
  padding: 16px;
  margin: 10px;
}
.work {
  font-weight: bold;
  text-transform: uppercase;
  background-color: rgb(98, 124, 207);
}

a:link {
  color: #00f(187, 59, 78);
}

a:visited {
  color: #005;
}
a:hover {
  text-decoration: none;
}
.list {
  display: flex;
  flex-direction: column;
  align-items: end;
}
