@font-face {
  font-family: monda;
  src: url(monda.regular.ttf);
}
@font-face {
  font-family: miltonian;
  src: url(Miltonian-Regular.ttf);
}
@font-face {
  font-family: montserrat;
  src: url(Montserrat/Montserrat-VariableFont_wght.ttf);
}
body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  font-style: normal;
}
header img {
  height: 130px;
  width: 130px;
  margin: 0 150px;
}

.work_time p {
  top: 51px;
  font-size: 20px;
  font-family: "Inter";
}

.work_adress {
  font-family: "Inter";
  font-size: 20px;
  width: 210px;
}

nav {
  height: 150px;
  width: 100%;
  margin: 0;
  background: #b498b7;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: #000000;
  font-family: montserrat;
  text-decoration-line: underline;
  font-size: 40px;
  padding: 60px;
  font-variant: all-small-caps;
  margin: 20px;
}

nav a:hover {
  background: #b498b7;
}
nav a:nth-child(2) {
  margin: 0 120px;
}

main {
  background: url(Rectangle\ 2Background\ .png);
  background-size: cover;
  margin: 0%;
}
.order_now {
  font-family: miltonian;
  background-color: #76657bb0;
  float: right;
  padding: 20px;
  margin-right: 40px;
  font-size: 30px;
  line-height: 40px;
  border: 1px solid #000000;
}
.shoping_now {
  align-items: center;
  font-family: montserrat;
}
.assortment {
  display: block;
  text-align: center;
  font-family: monda;
}

.assortment h1 {
  font-variant: all-small-caps;
}

.assortment_container,
.assortment_container2,
.assortment_container3 {
  display: inline-block;
  margin-bottom: 10px;
}

.assortment_container .flower,
.assortment_container2 .flower,
.assortment_container3 .flower {
  margin: 90px;
  display: block;
}
.assortment_container span,
.assortment_container2 span,
.assortment_container3 span {
  font-size: 15px;
  display: contents;
  font-family: monda;
}
