header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  font-style: normal;
}
header img {
  height: 130px;
  width: 130px;
  margin: 0 150px;
}
.flower img {
  max-width: 150px;
  margin: 0 150px;
  transition: all 30px;
}
.background {
  background-color: rgba(104, 78, 78, 0.7);
  transition: background-color 0.3s ease;
}
.background:hover {
  background-color: rgb(102, 92, 92);
}
.work_time p {
  top: 51px;
  font-size: var(--header-font-size);
  font-family: "Inter";
}
.work_adress {
  font-family: "Inter";
  font-size: var(--header-font-size);
  width: 210px;
}
nav {
  width: 100%;
  margin: 0;
  background: var(--purple-background);
  display: flex;
  position: fixed;
  justify-content: center;
  text-transform: uppercase;
}
nav a {
  color: #000000;
  font-family: montserrat;
  text-decoration-line: underline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  padding: 20px;
  margin: 0 120px;
  font-variant: all-small-caps;
  background-color: #b498b7;
}
nav a:hover {
  background: var(--purple-hover-background);
}
nav a:nth-child(2) {
  /* margin: 0 120px; */
  padding: 20px;
}
nav button {
  display: none;
  color: #000;
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-variant: all-small-caps;
  line-height: normal;
  letter-spacing: 5px;
  text-decoration-line: underline;
  background-color: var(--purple-background);
}
.flower:hover img {
  transform: scale(1.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}
@media screen and (max-width: 1332px) {
  .background {
    background: scroll;
  }
  nav a {
    display: none;
  }
  nav button {
    display: block;
    border: var(--purple-background);
  }
  .order_now {
    background: #9e92a1;
    text-align: center;
  }
  h1 {
    margin: 10%;
  }
}
@media (min-width: 900px) {
  .flower img:hover {
    transform: scale(1.2);
    box-shadow: 0 4px 8px rgba(131, 115, 115, 0.569);
  }
}
@media screen and (max-width: 710px) {
  .work_adress,
  .work_time {
    margin: 20%;
  }
  .work_adress {
    position: absolute;
    top: 100%;
  }
  .work_time {
    position: absolute;
    top: 90%;
  }
  .assortment {
    padding: 0 20% 0;
  }
  .assortment_container,
  .assortment_container2,
  .assortment_container3 {
    display: inline-block;
    padding: 30px;
    margin: 0;
  }
  .order_now {
    float: none !important ;
  }
  .line {
    display: block !important;
  }
}
@media (min-width: 463px) and (max-width: 635px) {
  .assortment_container,
  .assortment_container2,
  .assortment_container3 {
    display: inline;
    padding: 0%;
  }
  .flower {
    height: 30px;
    width: 30px;
  }
}
