header {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 130px;
  font-style: normal;
}
header img {
  height: 130px;
  width: 130px;
  margin: 0 150px;
}
.flower img {
  max-width: 150px;
  margin: 0 150px;
  transition: all 30px;
}
.background {
  background-color: rgba(60, 52, 52, 0.7);
  transition: background-color 0.3s ease;
}
.background:hover {
  background-color: rgb(102, 92, 92);
}
.work_time p {
  top: 51px;
  font-size: var(--header-font-size);
  font-family: "Inter";
}
.work_adress {
  font-family: "Inter";
  font-size: var(--header-font-size);
  width: 210px;
}
nav {
  width: 100%;
  margin: 0;
  background: var(--purple-background);
  display: flex;
  position: fixed;
  justify-content: center;
  text-transform: uppercase;
}
nav a {
  color: #000000;
  font-family: montserrat;
  text-decoration-line: underline;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 40px;
  padding: 20px;
  margin: 0 120px;
  font-variant: all-small-caps;
  background-color: #b498b7;
}
nav a:hover {
  background: var(--purple-hover-background);
}
nav a:nth-child(2) {
  padding: 20px;
}
nav button {
  display: none;
  color: #000;
  font-size: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-variant: all-small-caps;
  line-height: normal;
  letter-spacing: 5px;
  text-decoration-line: underline;
  background-color: var(--purple-background);
}
.flower img:hover {
  transform: scale(1.2);
  box-shadow: 0 8px 12px rgba(74, 7, 71, 0.723);
}
.transparent-block {
  opacity: 0.7;
}

.transparent-block:hover {
  opacity: 1;
}
@media screen and (max-width: 980px) {
  header img {
    margin: 0 80px;
  }
  nav {
    position: relative;
    font-size: 100px;
  }
  nav a {
    margin: 20px;
  }
  .order_now {
    float: none !important;
  }
  div img {
    height: 120px;
    width: 120px;
  }
  span {
    font-size: 15px !important;
  }
  .work_time,
  .work_adress {
    font-size: 15px;
  }
}
@media screen and (max-width: 460px) {
  nav a {
    display: none;
  }
  nav button {
    display: block;
    font-size: 40px;
  }
  .assortment_container,
  .assortment_container2,
  .assortment_container3 {
    display: inline !important;
  }
  .assortment_container .flower,
  .assortment_container2 .flower,
  .assortment_container3 .flower {
    margin: 10px !important;
  }
  .shoping_now {
    display: none;
  }
  .shoping_now1 {
    display: block !important;
    text-align: center;
  }

  .work_time,
  .work_adress {
    display: none;
  }
  .work_time2,
  .work_adress2 {
    display: block !important;
    text-align: center;
  }
  .line {
    display: block !important;
    width: 154px;
    height: 1px;
  }
  .flower img:hover {
    transform: none;
    box-shadow: 0 8px 12px rgba(74, 7, 71, 0.723);
  }
}
