/* @font-face {
  font-family: miltonian;
  src: url(../fonts/Miltonian/Miltonian-Regular.ttf);
}
@font-face {
  font-family: monda;
  src: url(../fonts/monda/monda.regular.ttf);
}

  @font-face {
    font-family: montserrat;
    src: url(../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
  } */
main {
  background: var(--background-image);
  background-size: cover;
  margin: 0%;
}

.order_now {
  font-family: miltonian;
  background-color: var(--purple-background);
  float: right;
  padding: 20px;
  margin-right: 40px;
  font-size: 30px;
  line-height: 40px;
  border: 1px solid var(--main-border);
}
.shoping_now {
  align-items: center;
  font-family: montserrat;
}
.assortment {
  display: block;
  text-align: center;
  font-family: monda;
  padding: 6%;
}
.assortment h1 {
  font-variant: all-small-caps;
}
.assortment_container,
.assortment_container2,
.assortment_container3 {
  display: inline-block;
  margin-bottom: 10px;
}
.assortment_container .flower,
.assortment_container2 .flower,
.assortment_container3 .flower {
  margin: 90px;
  display: block;
}
.assortment_container span,
.assortment_container2 span,
.assortment_container3 span {
  font-size: 15px;
  display: contents;
  font-family: monda;
}
