main {
  background: url(../photo_flower/Rectangle\ 2Background\ .png);
  margin: 0;
  background-size: 1000px;
}
h1 {
  text-align: center;
  font-family: monda;
}
h2 {
  margin-bottom: 0;
  font-size: 2em;
  margin-top: 40px;
  text-align: center;
}
.contact_info p,
.contact_info span {
  margin-left: 20px;
  font-size: 1.5em;
}
.contact_form {
  margin-left: 50px;
}
.contact_info span {
  text-decoration: underline;
}
.contact_form label {
  display: block;
  font-size: 1.3em;
  margin-top: 10px;
}

.contact_form input[type="text"] {
  width: 500px;
  height: 30px;
  outline: 0;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 0 10px;
}
.contact_form input[type="text"]:focus {
  border: 2px solid #8a5e90;
}

.contact_form input[type="text"]::placeholder {
  color: #000000;
  opacity: 0.7;
}

.contact_form textarea {
  width: 300px;
  height: 50px;
  padding: 10px;
  border: 2px solid #000000;
  border-radius: 10px;
}

.contact_form input[type="submit"] {
  width: 170px;
  height: 40px;
  display: block;
  background-color: #bf98c5;
  font-size: 1.5em;
  border-radius: 10px;
  font-family: montserrat;
  margin-top: 20px;
}

.contact_form input[type="submit"]:hover {
  background-color: #8a5e90;
}
